.mainFooter {
    padding: 3vw 1vw;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(230, 230, 230);
}

.mainFooter form{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.get-in-touch *{
    padding: 1vw 0;
    margin: 1vw;
    width: 100%;
}
.get-in-touch :last-child{
   height: 7vw;
}
/* itsik */
.textBox {
    width: 400px;
    height: 150px;
    padding-right: 50px;
}

.footer-bottom{
    background-color: var(--secondary-bg);
    height: 2vw;
    color: gray;
    padding: 1vw;
}
.about-us-wraper{
    background-color: var(--main-color);
    max-height: 35vw;
    padding-bottom: 5vw;
}
.about-us{
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: center;
    margin: 5vw 10vw 0  10vw;
}
.about-us img{
    height: 20vw;
}
.about-us-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 0 5vw;
}
.about-us-txt h2{
    margin: 0;
}
.about-us-txt h3{
    margin: 0;
    color: var(--main-bg);
}
.form-box {
    width: 50%;
}
.form-box button{
    float: right;
    background-color: var(--main-color);
    border: none;
    margin: 0;
}
.right-form-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
   
}
.right-form-box i{
    color: var(--main-color);
    padding: .8vw;
}