
.memeGenerator {
    display: none;
    flex-direction: row; 
    background-color: gray;
    justify-content: space-between;

    /* switch to row on desktop */
}
.main{
    padding:  100px, 40px;
}
.imgPool {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    /* width: 500px; */
}
.singalImg img{
    height: 150px;
    display: block;
    background: rgb(99, 99, 99);
    padding: 5px;
}
canvas {
    margin: 3vw;
    border: .3vw solid gray;
}
/* keyword cloud (naaman) */
.search{
    display: flex;
    justify-content: flex-start;
    flex: 1;
    margin: 2vw;
}
.keywords-cloud{
    /* display: none; */
    flex-wrap: wrap;
}
.key-word{
    background: gray;
    cursor: pointer;
    margin: 1vw;
}

 /* itsik  */
.generatorPanel {
    width: 600px;
    height: 400px;
    background-color: brown;
    display: flex; 
    flex-direction: column; 
    flex-wrap: nowrap;
}
.generatorPanel button {
     background-color: violet;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
     display: inline-block; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    max-width: 90px;     
}
.generatorPanel input {
  color: blue;
  max-width: 150px;
  align-self: center;
}
