
.memeGenerator {
    display: none;
    flex-direction: row; 
    background-color: gray;
    justify-content: space-between;

    /* switch to row on desktop */
}
.main{
    padding:  100px, 40px;
}
.imgPool {
    width: 60vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    padding: 0 22vw;
}
.singalImg img{
    margin: 3vw 1vw 0 0;
    width: 13vw;
    height: 13vw;
    overflow: hidden;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);    
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
canvas {
}
/* keyword cloud (naaman) */
.search{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex: 1;
    margin: 2vw;
    color: var(--main-color);
    font-size: 2vw;
    width: 100%;
    
}
.search button{
    background-color: var(--main-color);
    padding: 1em;
    border: none;
    color: white;
    font-size: 1vw;
}
.keywords-cloud{
    margin-top: 4vw;
    display: flex;
    opacity: .9;
    background-color: var(--secondary-bg);
    width: 50vw;
    position: absolute;
    flex-wrap: wrap;
    z-index: 1;
}
.key-word{
    display: block;
    /* position: fixed; */
    background: var(--main-color);
    color: var(--secondary-bg);
    padding: 1vw;
    cursor: pointer;
    margin: 1vw;
    max-height: 3vw;
    font-size: .6em;
}

 /* itsik  */
.generatorPanel {
    width: 600px;
    height: 400px;
    background-color: brown;
    display: flex; 
    flex-direction: column; 
    flex-wrap: nowrap;
}
.generatorPanel button {
     background-color: violet;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
     display: inline-block; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    max-width: 90px;     
}
.generatorPanel input {
  color: blue;
  max-width: 150px;
  align-self: center;
}

#textToCanvas{
    position: relative;
}
.font-change{
    min-height: 2em;
    max-width: 10em;
}
