nav {
    background-color: var(--main-bg);
    height: 7vw;
}
nav ul{
    list-style: none;
    /* border-bottom: 5vw; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav ul a{
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    padding: .  1vw 3vw 3vw 0;
    margin: 2vw;
}
nav ul a:hover{
    color: var(--main-color);
}
.nav-hr{
    color: gray;
    margin: 1vw 0 2vw 0;
}
.pointer{
    width:0; 
    height:0; 
    background: white;
    border-top:2vw solid var(--main-bg) ;
    /* border-bottom:30px solid transparent; */
    border-right: 3.5vw solid transparent;
    border-left:3.5vw solid transparent;
    margin: 0 auto;
    position: absolute;
    align-self: center;
    right: 47.5vw;
}
.arrow img{
    align-self: center;
    padding:  2vw 0;
    position: relative;
    height: 5vw;
}