nav {
    background-color: var(--main-bg);
    /* height: 7vw; */
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
 }
nav ul{
    height: 6vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul a{
    text-decoration: none;
    color: white;
    padding: 2vw;
    /* font-size: 1.4em;
    padding: 1vw;
    margin: 1vw; */
}
nav ul a:hover{
    color: var(--main-color);
}

.nav-hr{
    color: gray;
    margin: 1vw 0 3vw 0;
}

nav::after{
    content: "";
        width: 0; 
        height: 0; 
        left: 46.1%;
        border-left: 4vw solid transparent;
        border-right: 4vw solid transparent;
        border-top: 4vw solid var(--main-bg);
        position: absolute;
        text-align: center;
        align-self: center;
        background-color: white;
}
.pointer {
    z-index: 99;

    position: absolute;
}
.pointer img{
    height: 8vh;
    padding-top: 1vw;
}
/* MOBILE */
.mobile,
#nav-mobile {
    display: none;
    font-size: 2em;
}
@media (max-width: 640px) {
  nav {
    position: block;
    width: 100%;
    padding-bottom: 15vw;
    z-index: 9999; 
  }
    .mobile {
      display: block;
        color: white;
        /* margin: 150px; */
      }
    nav ul {
      display: flex;
      flex-direction: column;
      height: 55vw;
      width: 55vw;
      position: fixed;
      transition: all 0.4s;
      transform: scaleX(0);
      opacity: 0;
      transform-origin: left; 
      background: var(--main-bg);
      color: white;  
      z-index: 99;
 
  }
  nav ul img{
      display: none;
  }
}
#nav-mobile:checked  ~ ul{
    transform: scaleX(1);
    opacity: 1;
  }

