nav {
    background-color: var(--main-bg);
    /* height: 7vw; */
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
 }
nav ul{
    height: 7vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav ul a{
    text-decoration: none;
    color: white;
    padding: 2vw;
    /* font-size: 1.4em;
    padding: 1vw;
    margin: 1vw; */
}
nav ul a:hover{
    color: var(--main-color);
}

nav img{
    position: relative;
    height: 9.9vw;
}
.nav-hr{
    color: gray;
    margin: 1vw 0 2vw 0;
}

/* MOBILE */
.mobile,
#nav-mobile {
    display: none;
    font-size: 2em;
}
@media (max-width: 640px) {
  nav {
    position: block;
    width: 100%;
    padding-bottom: 15vw;
    z-index: 9999; 
  }
    .mobile {
      display: block;
        color: white;
        /* margin: 150px; */
      }
    nav ul {
      display: flex;
      flex-direction: column;
      height: 55vw;
      width: 55vw;
      position: fixed;
      transition: all 0.4s;
      transform: scaleX(0);
      opacity: 0;
      transform-origin: left; 
      background: var(--main-bg);
      color: white;  
      z-index: 99;
 
  }
  nav ul img{
      display: none;
  }
}
#nav-mobile:checked  ~ ul{
    transform: scaleX(1);
    opacity: 1;
  }

