@media  (width: 600px) {
    .memeGenerator {
        display: flex;
        flex-wrap: wrap;
    }
    .main {
        margin: auto; 
        text-align: center;       
    }
    .generatorPanel {
        display: flex;
        flex-wrap: wrap;   
    }
}