@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url('https://fonts.googleapis.com/css?family=Lato');
@import "_vars.css";
@import "_nav.css";
@import "_genrtor.css";
@import "_footer.css";
html, body{
    background: white;
    padding: 0;
    margin: 0;
    border: none;
}
